# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\horni\Desktop\OneDrive - Berufskolleg Uerdingen\InformatikPrograms\TraffccLight\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
